# Logs
logs
*.log
npm-debug.log*

# .DS_Store
*.DS_Store

# VSCode
.vscode/

# Dependency directories
node_modules/**/*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Archive folder(s)
archive/**/*
temp/**/*

# Settings
settings.js
